<!DOCTYPE html>
<div class="link-panel">
 	<div class="lp-inner">
        <p>Copyright ©2014 BetEast  |  <a href="">gambleaware.co.uk</a> <div class="sign">18+</div></p> 	</div>
</div>

<footer id="footer-main" class="include">



    <section class="footer-content">
        <!-- <img class="footer-main-image" src="images/footer-image.png" alt="" />	 -->	

        <div class="section-1">
        <h3>Information</h3>
 			<ul>
                <li><a href="http://www.gov.im/">The Isle of Man Government</a></li>
                <li><a href="http://www.gov.im/gambling/">The Isle of Man Gambling Commission</a></li>
                <li><a href="http://www.gamblersanonymous.org.uk/">Gamblers Anonymous</a></li>
                <li><a href="#terms">Terms & Conditions</a></li>
                <li><a href="#terms/rules">Betting Rules</a></li>
                <li><a href="#account">Account</a></li>
            </ul>
          </div>
        </div>
        <div class="section-2">
        	<h3>About</h3>
            <p>BetEast is regulated by the Isle of Man Gambling Supervision Commission under a licence issued under the Online Gambling Regulation Act 2001 on 20th December 2011. All debts are enforceable in law on the Isle of Man.</p>
			<h3><br/>Gambling Responsiblity</h3>
			<p>We are committed to Responsible Gambling and have a number of <strong>self-help tools</strong> to help you manage your gambling.</p>
			<p>We also work with a number of <strong>independent charitable organisations</strong> who can offer help or answer any questions you may have. </p>
			<p>Licensed and regulated in the Isle of Man</p>
			

        </div>
		<div class="section-3">		
						
			<h3>Customer Service</h3>
			<p>Working Hours: Mon to Fri (08:00 - 22:00)</p>
			<div class="box">
				
				<span>UK: 0123456787</span>
				<span>World: +353 1 905 0131</span>
				<span>Other: +353 1 905 0131</span>
			</div>
<!--
			<ul>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Help Centre</a></li>
            </ul>
-->
		</div>
		<!-- <div class="section-3"> -->
			<!--
			 <h3><a href="#">News</a></h3>
			            <p>Keep your pulse on up to the minute news and the biggest sports betting events from around the world </p>
			
			            <a href="#">
			                <article>
			                    <header>
			                        <h3>Premiership Semi-Final</h3>
			                        <h2>Arsenal v Chelsea</h2>
			                        <p>Tuesday 19:45</p>
			                    </header>
			                    <p>Pre Match Review, early bird pricing &amp; industry insights in our sports blog</p>
			                </article>
			            </a>
			            <a href="#">
			                <article>
			                    <header>
			                        <h3>Premiership Semi-Final</h3>
			                        <h2>Arsenal v Chelsea</h2>
			                        <p>Tuesday 19:45</p>
			                    </header>
			                    <p>Pre Match Review, early bird pricing &amp; industry insights in our sports blog</p>
			                </article>
			            </a>
			            <a href="#">
			                <article>
			                    <header>
			                        <h3>Premiership Semi-Final</h3>
			                        <h2>Arsenal v Chelsea</h2>
			                        <p>Tuesday 19:45</p>
			                    </header>
			                    <p>Pre Match Review, early bird pricing &amp; industry insights in our sports blog</p>
			                </article>
			            </a>
			-->
		<!-- </div> -->
  </section>
       <div class="strapline">
        <!-- <p>OPERATOR OF THE YEAR</p> -->
    </div>

</footer>
 