<section class="allSports">

    <nav>
        <!--
<ul class="sports more">
            <li><a href="#"><strong><%=StringUtil.properCase(StringUtil.humanize(sport))%><i class="fa fa-chevron-down"></i></strong></a>
            	 <ul class="all-sports">
	                <li><a href="#BASEBALL">Baseball</a></li>
	                <li><a href="#BASKETBALL">Basketball</a></li>
	                <li><a href="#ICE_HOCKEY">Ice Hockey</a></li>
	                <li><a href="#SOCCER">Soccer</a></li>
                 </ul>
            </li>
            
        </ul>
-->

		<h3>All Sports</h3>
		<ul>
			<li><a href="#soccer">Soccer</a></li>
			<li><a href="#baseball">Baseball</a></li>
            <li><a href="#basketball">Basketball</a></li>
            <li><a href="#handball">Handball</a></li>
            <li><a href="#volleyball">Volleyball</a></li>
            <li><a href="#american_football">American Football</a></li>
            <li><a href="#ice_hockey">Ice Hockey</a></li>
		</ul>
		
    </nav>
</section>