        
    <section class="top">
        <nav>
            <ul class="sports more">
                <li><a href="#"><strong>All Sports<i class="fa fa-chevron-down"></i></strong></a>
                	 <ul class="all-sports">
		                <li><a href="#baseball">Baseball</a></li>
		                <li><a href="#basketball">Basketball</a></li>
<!--		                <li><a href="#ICE_HOCKEY">Ice Hockey</a></li>-->
		                <li><a href="#soccer">Soccer</a></li>
                     </ul>
                </li>
                
            </ul>
            <h2>Tennis</h2>
            <h3>Popular</h3>
            <ul>
                <li><a href="#">ATP Barcelona</a></li>
                <li><a href="#">Wimbledon</a></li>
                <li><a href="#">French Open</a></li>
                <li><a href="#">US Open</a></li>
                <li><a href="#">David Cup</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <h3>In play</h3>
        <ul class="panel in-play">
            <li>
                <div><span class="name"><a href="#">Denis Kudla</a></span><span class="score home">1</span></div>
                <div><span class="name">v <a href="#">*Renzo Olivo</a></span><span class="score away">0</span></div>
            </li>
            <li>
                <div><span class="name"><a href="#">Jason Kudla</a></span><span class="score home">1</span></div>
                <div><span class="name">v <a href="#">*Franc Danevic</a></span><span class="score away">0</span></div>
            </li>

        </ul>
    </section>

    <section>
        <nav>
            <h2>Competitions</h2>
            <ul>
                <li><a href="#">Tennis Live</a></li>
                <li><a href="#">ATP Barcelona</a></li>
                <li><a href="#">ATP Bucharest</a></li>
                <li><a href="#">WTA Suttgart</a></li>
                <li><a href="#">WTA Marrakech</a></li>
            </ul>

            <h2>Specials</h2>
            <ul>
                <li><a href="#">Enhanced Accumulators</a></li>
                <li><a href="#">Stanislas Wawrinka Specials</a></li>
                <li><a href="#">ATP Season Specials</a></li>
            </ul>

            <h2>Extras</h2>
            <ul>
                <li><a href="#">Results</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Decimals / Fractions</a></li>
            </ul>
        </nav>
    </section>

