


<div class="inplay-area baseball">

	<div class="inplay-box">


	<div class="iconBar full">
		
		<div class="icons">
			<div class="gap">
					<div class="dynamic-stat">Inning 6</div>
			</div>
			<span class="baseb-icons"><div>1</div></span>
			<span class="baseb-icons"><div>2</div></span>
			<span class="baseb-icons"><div>3</div></span>
			<span class="baseb-icons"><div>4</div></span>
			<span class="baseb-icons"><div>5</div></span>
			<span class="baseb-icons"><div>6</div></span>
			<span class="baseb-icons"><div>7</div></span>
			<span class="baseb-icons"><div>8</div></span>
			<span class="baseb-icons"><div>9</div></span>
			<span class="baseb-icons yellow"><div>H</div></span>
			<span class="baseb-icons yellow"><div>R</div></span>
		</div>
		
		
		</div>
		<div class="teams">
			<div class="row middle">
				<span class="team current">Lotte Giants</span>
				
				<span class="stat">1</span>
				<span class="stat">0</span>
				<span class="stat">1</span>
				<span class="stat">0</span>
				<span class="stat">1</span>
				<span class="stat">2</span>
				<span class="stat">0</span>
				<span class="stat">0</span>
				<span class="stat">0</span>
				<span class="stat home">4</span>
				<span class="stat goal">5</span>
				
			</div>
			<div class="row bottom">
				<span class="team">Hanwha Eagles</span>
				
				
				<span class="stat">1</span>
				<span class="stat">2</span>
				<span class="stat">1</span>
				<span class="stat">1</span>
				<span class="stat">2</span>
				<span class="stat">0</span>
				<span class="stat">0</span>
				<span class="stat">0</span>
				<span class="stat">0</span>
				<span class="stat home">2</span>
				<span class="stat goal">7</span>
				
			</div>
		</div>
		
	</div>
	
	<div class="box-shadow">
		<br/>
	</div>
</div>
