



<div class="inplay-area basketball">

	<div class="inplay-box">
		
		<div class="progressBar">
			<div class="quarters">
				<span class="q1"></span>
				<span class="q2"></span>
				<span class="q3"></span>
			</div>
			<div class="time"><i class="fa fa-clock-o"></i>&#160;<span>15:20</span></div>
			<div class="activeBar"></div>
		</div>
		<div class="iconBar">
			<div class="icons">
				<div class="gap"></div>
				
				<span class="icon block"><div>&#160;</div></span>
				<span class="icon assist"><div>&#160;</div></span>
				<span class="icon rebound"><div>&#160;</div></span>
				<span class="icon point"><div>&#160;</div></span>
			</div>
		</div>
		<div class="teams">
			<div class="row middle">
				<span class="team current">Chicago Bulls</span>
		
				<span class="stat">2</span>
				<span class="stat">1</span>
				<span class="stat">4</span>
				<span class="stat goal">2</span>
				
			</div>
			<div class="row bottom">
				<span class="team">Brookyln Nets</span>
		
				<span class="stat">1</span>
				<span class="stat">1</span>
				<span class="stat">3</span>
				<span class="stat goal">3</span>
				
			</div>
		</div>
		
	</div>
	
	<div class="box-shadow">
		<br/>
	</div>
		


</div>



