
<form method="post" action="">
<div class="login">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">Sign In</h3>
        <a href="#" class="bbm-button close"><i class="fa fa-times"></i></a>
    </div>
    <div class="bbm-modal__section">

        <div class="inner">
            <label>Username</label><input name="username" type="text" />
        </div>
        <div class="inner">
            <label>Password</label><input name="password" type="password" />
        </div>
        <div class="inner">
            <div id="feedback"></div>
        </div>

    </div>
    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button clear">Clear</a>
        <a href="#" class="bbm-button submit" type="submit">Sign In</a>
    </div>
    </div>
</form>