
<section class="include">
    <ul class="market-container">
        <li>
            <div class="market-title-selector">
                <h2>Today</h2>
                <p>+ 54 markets</p>
            </div>
            <div class="market-content">
                <ul class="market h2h in-play active">
                    <li>
                        <div class="time"><em>Now</em> 04:46</div> 
                        <div class="selection">
                            <p>Finnis Veikkauslilga</p>
                            <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Final Score</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 2.5</span>
	                        	<a href="#"><i>1</i> <em>1/40</em></a>
	                        	<a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">First Half Result</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 3.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 4.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="options">
                            <a href="#_">+22</a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="market-title-selector">
                <h2>Tomorrow</h2>
                <p>+ 54 markets</p>
            </div>
            <div class="market-content">
                <ul class="market h2h in-play active">
                    <li>
                        <div class="time"><em>Now</em> 04:46</div> 
                        <div class="selection">
                            <p>Finnis Veikkauslilga</p>
                            <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
                        </div>
                         <div class="prices">
	                        	<span class="market-title">Final Score</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 2.5</span>
	                        	<a href="#"><i>1</i> <em>1/40</em></a>
	                        	<a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">First Half Result</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 3.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 4.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="options">
                          	<a href="#_">+22</a>
                        </div>
                    </li>
                    <li>
                        <div class="time"><em>Now</em> 04:46</div> 
                        <div class="selection">
                            <p>Finnis Veikkauslilga</p>
                            <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Final Score</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 2.5</span>
	                        	<a href="#"><i>1</i> <em>1/40</em></a>
	                        	<a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">First Half Result</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 3.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 4.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="options">
                           <a href="#_">+22</a>
                        </div>
                    </li>
                    <li>
                        <div class="time"><em>Now</em> 04:46</div> 
                        <div class="selection">
                            <p>Finnis Veikkauslilga</p>
                            <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
                        </div>
                         <div class="prices">
	                        	<span class="market-title">Final Score</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 2.5</span>
	                        	<a href="#"><i>1</i> <em>1/40</em></a>
	                        	<a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">First Half Result</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 3.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 4.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="options">
                            <a href="#_">+22</a>
                        </div>
                    </li>
                    <li>
                        <div class="time"><em>Now</em> 04:46</div> 
                        <div class="selection">
                            <p>Finnis Veikkauslilga</p>
                            <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
                        </div>
                         <div class="prices">
	                        	<span class="market-title">Final Score</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 2.5</span>
	                        	<a href="#"><i>1</i> <em>1/40</em></a>
	                        	<a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">First Half Result</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 3.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 4.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="options">
                           <a href="#_">+22</a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="market-title-selector">
                <h2>Thursday</h2>
                <p>+ 54 markets</p>
            </div>
            <div class="market-content">
                <ul class="market h2h in-play active">
                    <li>
                        <div class="time"><em>Now</em> 04:46</div> 
                        <div class="selection">
                            <p>Finnis Veikkauslilga</p>
                            <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
                        </div>
                         <div class="prices">
	                        	<span class="market-title">Final Score</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 2.5</span>
	                        	<a href="#"><i>1</i> <em>1/40</em></a>
	                        	<a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">First Half Result</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 3.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="prices">
	                        	<span class="market-title">Over/Under 4.5</span>
	                            <a href="#"><i>1</i> <em>1/40</em></a>
	                            <a href="#"><i>X</i> <em>1/10</em></a>
	                            <a href="#"><i>2</i> <em>3/1</em></a>
                        </div>
                        <div class="options">
                            <a href="#_">+22</a>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>


<section>
    <ul class="market h2h in-play active">
        <li>
            <div class="time"><em>Now</em> 04:46</div> 
            <div class="selection">
                <p>Finnis Veikkauslilga</p>
                <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
            </div>
             <div class="prices">
                	<span class="market-title">Final Score</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 2.5</span>
                	<a href="#"><i>1</i> <em>1/40</em></a>
                	<a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">First Half Result</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 3.5</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 4.5</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="options">
               <a href="#_">+22</a>
            </div>
        </li>
        <li>
            <div class="time"><em>Now</em> 04:46</div> 
            <div class="selection">
                <p>Finnis Veikkauslilga</p>
                <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
            </div>
             <div class="prices">
             <span class="market-title">Final Score</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 2.5</span>
                	<a href="#"><i>1</i> <em>1/40</em></a>
                	<a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">First Half Result</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 3.5</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 4.5</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="options">
               <a href="#_">+22</a>
            </div>
        </li>
        <li>
            <div class="time"><em>Now</em> 04:46</div> 
            <div class="selection">
                <p>Finnis Veikkauslilga</p>
                <a href="#">Syrianska <b>0 - 0</b> Malmo</a>
            </div>
             <div class="prices">
               <span class="market-title">Final Score</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 2.5</span>
                	<a href="#"><i>1</i> <em>1/40</em></a>
                	<a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">First Half Result</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 3.5</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="prices">
                	<span class="market-title">Over/Under 4.5</span>
                    <a href="#"><i>1</i> <em>1/40</em></a>
                    <a href="#"><i>X</i> <em>1/10</em></a>
                    <a href="#"><i>2</i> <em>3/1</em></a>
            </div>
            <div class="options">
              <a href="#_">+22</a>
            </div>
        </li>
    </ul>
</section>