   
<div class="wrapper-page">

    <div id="header-main"></div>

    <div id="header-football"></div>

    <div class="container-main">
	    <aside id="content-side-panel-1" class="include">

	    </aside>
	    
	    <main id="content-loading">
		    <div class="spinner">
		      <div class="bounce1"></div>
		      <div class="bounce2"></div>
		      <div class="bounce3"></div>
		    </div>
	    </main>
	    
        <main id="content-main">
        	
        	<!-- 
        	
       		<div id="main-inplay"></div>

            <div id="market-highlights"></div>

            <div id="market-h2h"></div>

            <div id="market-top5"></div>

            <div id="market-competitions"></div>

            <div id="carousel-slider"></div> -->

        </main>

        <aside id="content-side-panel-2">
        	<div id="IPVpanel"></div>
            <div id="bet-slip-panel"></div>
        </aside>

    </div>

</div>

<div id="footer-main-panel"></div>