	<div id="IPVPanelWrapper">
		 <div id="tabs">
			<div class="tab-bar">
					<ul>
						<li><a href="#close"><i class="fa fa-chevron-up"></i></a></li>
						<li class="active"><a href="#IPVpanelBaseball">Inplay</a></li>
						<li><a href="#IPVpanelStream">Live Stream</a></li>
						
					</ul>
				</div>
				
				
				<div id="IPVpanelStream" class="inplay-panel">
						
						<iframe width="320" height="234" src="//www.youtube.com/embed/98UpQ6sbuag" frameborder="0" allowfullscreen="false"></iframe>
				
				</div>
			
			<div id="IPVpanelBaseball" class="inplay-panel openTab">
			
					<!-- <div class="panelCover">
						<span><i class="fa fa-spinner fa-spin"></i>&#160;Loading...</span>
					</div> -->
					
					<div class="progressBar">
						<div class="time center"><i class="fa fa-clock-o"></i>&#160;<span></span></div>
						<div class="activeBar"></div>
					</div>
				
					<div class="teams">
						<div class="team">
							<span class="loc">HOME</span>
							<span class="name">L Giants</span>
							<span class="score left">2</span>
							<div class="flash left"></div>
						</div>
						<span class="v">v</span>
						<div class="team">
							<span class="loc">AWAY</span>
							<span class="name">Han Eagles</span>
							<span class="score right">3</span>
							<div class="flash right"></div>
						</div>
					</div>
					<div class="baseball-pitch">
						
						<div class="diamond"></div>
						
						
						<!-- CAMERAS -->
						<div class="cam-1"></div>
						<div class="cam-2"></div>
						<div class="cam-3"></div>
						<div class="cam-4"></div>
						<div class="cam-5"></div>
						<div class="cam-6"></div>
						
						
						<!-- HIGHLIGHTS -->
						<div class="toggle-left"></div>
						<div class="toggle-top"></div>
						<div class="toggle-right"></div>
						<div class="toggle-bottom"></div>
						
						<!-- STRIKE -->
						<div class="strike">
							<div class="flash">
								<div class="statusText">STRIKE!</div>
							</div>
							<div class="glove"><div class="glove-inner"></div></div>
							<div class="glove-ball"></div>
							<div class="ball"></div>
							
							<div class="strike-count strike-1"></div>
							<div class="strike-count strike-2"></div>
							<div class="strike-count strike-3"></div>
							
						</div>
						
						
						<!-- BALL -->
						<div class="ball">
							<div class="gif"><div></div></div>
							<div class="splash">
								<div class="lbl">Ball</div>
							</div>
						</div>
						
						
						<!-- OUT -->
						<div class="out">
							<div class="gif"></div>
							<div class="splash">
								<div class="lbl">Out</div>
							</div>
						</div>
						
		
						
						
					</div> <!-- end of 'pitch' -->
					
					<div style="clear:both;"></div>
					
				
			</div> <!-- inpay panel -->
			
		</div> <!-- tabs -->

	</div>
	