<!--
<section>
    <header>
        <h2>Top 5 Matches</h2>
    </header>
    <ul class="market match top-5">
        <li>
            <div class="time">15:00</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Brazil <span class="score">1</span></span>
                    <span class="team away"><span class="score">0</span>Mexico </span> 
                </a>
            </div>
        </li>
        <li>
            <div class="time">14:30</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Sweden<span class="score">1</span></span>
                    <span class="team away"><span class="score">0</span>FYR Macedonia </span> 
                </a>
            </div>
        </li>
        <li>
            <div class="time">14:30</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Olimpia<span class="score">1</span></span>
                    <span class="team away"><span class="score">0</span> Livertad Asuncion </span> 
                </a>
            </div>
        </li>
        <li>
            <div class="time">14:30</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Norrkoping<span class="score">1</span></span>
                    <span class="team away"><span class="score">0</span>IFK Goteborg </span> 
                </a>
            </div>
        </li>
        <li>
            <div class="time"><em>THU</em>14:30</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Manchester United<span class="score">1</span></span>
                    <span class="team away">Chelsea<span class="score">0</span></span> 
                </a>
            </div>
        </li>
    </ul>
</section>


<section>
    <header>
        <h2>Top 5 Bets</h2>
    </header>
    <ul class="market match top-5">
        <li>
            <div class="time">15:00</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Brazil <span class="score">1</span></span>
                    <span class="team away">Mexico <span class="score">0</span></span> 
                </a>
            </div>
            <div class="prices">
            	 <span class="market-title">Final Score</span>
            	 <div class="table">
                	 <div class="table-row">
	                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
	                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
	                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
                	 </div>
            	 </div>
            </div>
            <div class="prices">
                <span class="market-title">Final Score</span>
                <div class="table">
                	 <div class="table-row">
	                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
	                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
	                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
                	 </div>
            	</div>
            </div>
             <div class="prices">
            	<span class="market-title">Final Score</span>
            	<div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	 </div>
            </div>
              <div class="prices">
              	<span class="market-title">Final Score</span>
            	<div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	   </div>
            </div>
        </li>
        <li>
            <div class="time">15:00</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">TPS Turku <span class="score">1</span></span>
                    <span class="team away">Honka <span class="score">0</span></span> 
                </a>
            </div>
            <div class="prices">
                <span class="market-title">Final Score</span>
                <div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	 </div>
            </div>
            <div class="prices">
               <span class="market-title">Final Score</span>
               <div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	 </div>
            </div>
            <div class="prices">
               <span class="market-title">Final Score</span>
               <div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	 </div>
            </div>
            <div class="prices">
               <span class="market-title">Final Score</span>
               <div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	 </div>
            </div>
        </li>
        <li>
            <div class="time">15:00</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Jaro <span class="score">1</span></span>
                    <span class="team away">JJK<span class="score">0</span></span> 
                </a>
            </div>
             <div class="prices">
                	<span class="market-title">Final Score</span>
                    <div class="table">
                	<div class="table-row">
	                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
	                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
	                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
                	 </div>
            	  </div>
            </div>
            <div class="prices">
                	<span class="market-title">Final Score</span>
                     <div class="table">
	                	 <div class="table-row">
		                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
		                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
		                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
	                	 </div>
					 </div>
            </div>
            <div class="prices">
                	<span class="market-title">Final Score</span>
                    <div class="table">
                	 <div class="table-row">
	                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
	                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
	                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
                	 </div>
            	   </div>
            </div>
            <div class="prices">
            	<span class="market-title">Final Score</span>
                <div class="table">
            	 <div class="table-row">
                   <div><a href="#"><i>1</i> <em>1/40</em></a></div>
                   <div><a href="#"><i>X</i> <em>1/10</em></a></div>
                   <div><a href="#"><i>2</i> <em>3/1</em></a></div>
            	 </div>
        	   </div>
            </div>
        </li>
        <li>
            <div class="time"><em>THU</em> 15:00</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Manchester United <span class="score">1</span></span>
                    <span class="team away">Chelsea <span class="score">0</span></span> 
                </a>
            </div>
            <div class="prices single">
                <a href="#">Match Betting ( Chelsea )</a>
            </div>
        </li>
        <li>
            <div class="time"><em>THU</em> 15:00</div> 
            <div class="selection">
                <a href="#">
                    <span class="team home">Wigan <span class="score">1</span></span>
                    <span class="team away">Liverpool <span class="score">0</span></span> 
                </a>
            </div>
            <div class="prices single">
                <a href="#">Match Betting ( Wigan )</a>
            </div>
        </li>

    </ul>
</section>


<div class="market-cols include">
    <div class="col padding">
        <section>
            <header>
                <h2>Top 5 Matches</h2>
            </header>
            <ul class="market match top-5">
                <li>
                    <div class="time">15:00</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Brazil <span class="score">1</span></span>
                            <span class="team away"> <span class="score">0</span>Mexico</span> 
                        </a>
                    </div>
					<div class="dummy"></div>
                </li>
                <li>
                    <div class="time">14:30</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Sweden<span class="score">1</span></span>
                            <span class="team away"> <span class="score">0</span>FYR Macedonia</span> 
                        </a>
                    </div>
                    <div class="dummy"></div>
                </li>
                <li>
                    <div class="time">14:30</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Olimpia<span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>Livertad Asuncion </span> 
                        </a>
                    </div>
                    <div class="dummy"></div>
                </li>
                <li>
                    <div class="time">14:30</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Norrkoping<span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>IFK Goteborg </span> 
                        </a>
                    </div>
                    <div class="dummy"></div>
                </li>
                <li>
                    <div class="time">14:30</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Manchester United<span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>Chelsea</span> 
                        </a>
                    </div>
                    <div class="dummy"></div>
                </li>
            </ul>
        </section>

    </div>


    <div class="col padding double">

        <section>
            <header>
                <h2>Top 5 Bets</h2>
            </header>
            <ul class="market match top-5">
                <li>
                    <div class="time">15:00</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Brazil <span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span> Mexico </span> 
                        </a>
                    </div>
                    <div class="prices single">
                        <a href="#">Correct Score ( Mexico 2-1 )</a>
                    </div>
                </li>
                <li>
                    <div class="time">15:00</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">TPS Turku <span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>Honka </span> 
                        </a>
                    </div>
                    <div class="prices single">
                        <a href="#">90 Minutes ( TPS Turku )</a>
                    </div>
                </li>
                <li>
                    <div class="time">15:00</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Jaro <span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>JJK</span> 
                        </a>
                    </div>
                    <div class="prices single">
                        <a href="#">Handicap -1 ( Jaro )</a>
                    </div>
                </li>
                <li>
                    <div class="time">15:00</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Manchester Unites <span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>Chelsea</span> 
                        </a>
                    </div>
                    <div class="prices single">
                        <a href="#">Handicap -1 ( Chelsea )</a>
                    </div>
                </li>
                <li>
                    <div class="time"><em>THUR</em> 15:00</div> 
                    <div class="selection">
                        <a href="#">
                            <span class="team home">Wigan <span class="score">1</span></span>
                            <span class="team away"><span class="score">0</span>Liverpool </span> 
                        </a>
                    </div> 
                    <div class="prices single">
                        <a href="#">Match Betting ( Wigan )</a>
                    </div>
                </li>

            </ul>
        </section>

    </div>
</div>

-->