/*---- Colours ----*/

@black: #000;

//Greys
@grey1: #2B2B2B;
@grey2: #303030;
@grey3: #2F2F2F;
@grey4: #3C3D3C;
@grey5: #3D3D3D;
@grey6: #4F4F4F;
@grey7: #BDBDBD;
@grey8: #CCCCCC;
@grey9: #E6E9EC;
@grey10: #EFEFEF;
@grey11: #F3F3F3;
@grey12: #828282;

@white: #FFF;

//Blues

@blue1: #3E98C5;
@blue2: #CEEBFB;
@blue3: #F5FAFF;
@blue4:#cbdee9;
@blue5:#2677a6;
@blue6:#7F94A6;
@blue7: tint(@blue1, 50%);
@blue8: tint(@blue1, 20%);
@blue9: shade(@blue1, 30%);
@blue10:#DFEBF3;

//Reds
@red1: #B3443A;
@red2: #F00000;
//Greens
@green1: #90D455;
@green2: shade(@green1, 10%);
@green3: shade(@green2, 10%);

@transparent: rgba(255, 0, 0, 0);